PORT=5000
NODE_ENV=development

MONGO_URI=mongodb+srv://nykahlouche_db_user:HPHsZoKOJNiMMfBA@cluster0.q6mphqd.mongodb.net/

JWT_SECRET=jihugyftdrsewrygiopouiytdyfughoijk
JWT_EXPIRES_IN=1d

CLOUDINARY_CLOUD_NAME=ocivdx54
CLOUDINARY_API_KEY=151392283175579
CLOUDINARY_API_SECRET=79vpAy2pH0XRZ8HXEVUhHU6jAko

DEFAULT_COMMISSION_PERCENT=10
DEFAULT_RETURN_LOAD_RADIUS_KM=100
INVOICE_PREFIX=PP
VAT_PERCENT=19
